# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
lib/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# next.js build output
.next

#jest coverage  -
coverage

# OS files
.DS_Store